.imageupload{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: auto;
    border-bottom:lightgray solid 1px ;
    
    
    
}

.progess_bar{
    width: 50%;
    margin-left: 10px;
    margin-top: 20px;

}

.fileupload{
margin-left: 0px;
display: flex;
flex-direction: row;
}

.tweetbox_input > textarea{
    /* padding: 2vw;
    margin: 2vw -2vw;
    min-height: 15vh; */
     
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-left: 0px;
    font-size: 20px;
    color:rgb(95, 98, 99);
    background-color: #FAFAFA;
    width: 90%;
    /* border:none; */
    border-color: rgb(182, 182, 182);
    border-radius: 10px;
    
    
    /*the part below removes the three lines at the bottom right of the textarea*/
    resize: none;
    
  /*the part below removes the blue border that appears everytime you focus in the textarea*/
    outline: none;
  }
  
  .tweetbox_input >textarea::placeholder{
    color: lightgray;
    margin-left: 10px;
    margin-top: 10px;
    opacity: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }